<h1>My comments page</h1>
<div>
<ul>
	<% @comments.each do |comment| %>
	<li><%= post.title %></li>
	<li><%= post.content %></li>
	<% end %>
</ul>
</div>

<%= link_to 'create a new comment', new_user_post_comment_path %>
<% if current_user && current_user.admin == true %>
<%= link_to 'edit comment', new_user_post_comment_path %>

</div>