<h1>My comments page</h1>
<ul>
<% @comments.each do |comment| %>
	<li>
		<%= link_to post.title, post_path(post) %>
	</li>
<% end %>
</ul>

<div>
	<div>
		<p>
		<%= render '/users/:user_id/posts' %>
		</p>
		<% end %>
	</div>

	<div>
		<%= render 'users/:user_id/posts/:post_id/comments' %>
	</div>
	
</div>