<h1>My Blog Posts!</h1>


  <body>
    <% @posts.each do |post| %>
      <li><%= post.title %></li>
      <li><%= post.content %></li>
      <%= link_to 'Edit Post', edit_user_post_path(@user, @posts) %>
      </br>

     <% end %>
  </body>
<% if current_user %>
<%= link_to 'New Post', new_user_post_path(@user) %>
<% end %>